[v-cloak] {
    display: none;
}

* {
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

img {
    height: 200px;
}

img.small {
    height: 50px;
}

.list-group-item {
    cursor: pointer;
}